<md-dialog add-item-dialog flex>
  <md-dialog-content class="md-dialog-content">
    
    <h2 class="md-title">{{'UPDATE_ACCOUNT_CHART' | translate}}</h2>
    
    <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
      <i class="material-icons">error_outline</i>
      <span>&nbsp;{{'ALL_FIELDS_ARE_REQUIRED' | translate}}</span>
    </p>
    
    <form name="item.form" ng-submit="ctrl.updateItem()">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{'ACCOUNT_CHART_SETTINGS' | translate}}</span>
					</md-card-title-text>
				</md-card-title>
				<md-divider/>
				<md-card-content>
					<div layout="row">
						<md-input-container class="md-block" flex="100">
							<label>{{'ACCOUNT_CHART_NAME' | translate}}</label>
							<input name="name" ng-model="accountC.name" type="text" required>
							<div ng-messages="item.form.name.$error">
								<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							</div>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block" flex="100">
							<label>{{'DESCRIPTION' | translate}}</label>
							<textarea name="description" ng-model="accountC.description" type="text" required></textarea>
							<div ng-messages="item.form.description.$error">
								<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							</div>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block" flex="100">
							<label>{{'ACCOUNT_EQUATION' | translate}}</label>
							<md-select placeholder="{{'SELECT_ACCOUNT_EQUATION' | translate}}" name="parentAccount" ng-model="accountC.parentAccount"  type="text" required>
							  <md-option ng-value="{{parent}}" ng-selected="parent.id==accountC.parentAccount.id" ng-repeat="parent in response.content">{{parent.name}}</md-option>
							</md-select>
							<div ng-messages="companySettingsForm.addressCountry.$error">
								<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							</div>
						</md-input-container>
					</div>
				</md-card-content>
			</md-card>
    </form>
    
  </md-dialog-content>
  
  <md-dialog-actions>
    <md-button class="md-raised md-primary" ng-click="ctrl.updateItem(accountC)" ng-disabled="item.form.$invalid">{{'UPDATE_ACCOUNT_CHART' | translate}}</md-button>
    <md-button class="md-raised md-primary" ng-click="ctrl.cancel()">{{'CANCEL' | translate}}</md-button>
  </md-dialog-actions>
</md-dialog>