<md-dialog add-item-dialog flex>
  <md-dialog-content class="md-dialog-content">
    
    <h2 class="md-title">{{'EMPLOYEE_ROLE' | translate}}</h2>
    
    <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
      <i class="material-icons">error_outline</i>
      <span>&nbsp; {{'ALL_FIELDS_ARE_REQUIRED' | translate}}</span>
    </p>
    
    <form name="item.form" ng-submit="ctrl.addItem()">
      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>{{'NAME' | translate}} </label>
          <input name="roleName"  ng-model="employeeRole.roleName" md-maxlength="20" required>
        </md-input-container>
      </div>
      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>{{'DESCRIPTION' | translate}}</label>
          <textarea rows="4" cols="50" name="roleDescription" ng-model="employeeRole.roleDescription"></textarea>
        </md-input-container>
      </div>
    </form>
    
  </md-dialog-content>
  
  <md-dialog-actions>
    <md-button class="md-raised md-primary" ng-click="ctrl.addItem()" ng-disabled="item.form.$invalid">{{'ADD' | translate}}</md-button>
    <md-button class="md-raised md-primary" ng-click="ctrl.cancel()">{{'CANCEL' | translate}}</md-button>
  </md-dialog-actions>
</md-dialog>