<div layout="column" layout-align="space-between strech" ng-show="employeePrivileges.updateGlobalPasswordSettings">
	<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools">
			<h2 class="md-title">{{ 'CHANGE_PASSWORD' | translate }}</h2>
			<md-button class="md-icon-button" ng-click="reLoadStuff()">
			<md-icon>refresh</md-icon> </md-button>
			<div flex></div>
		</div>
	</md-toolbar>
	<md-progress-linear md-mode="indeterminate" ng-show="showProgressBar"></md-progress-linear>
		
	<form name="item.form" ng-submit="ctrl.addItem()">
		<md-card class="md-whiteframe-5dp">
			<md-card-content>
			
				<div layout="row">
					<md-input-container class="md-block" flex="100">
						<label>{{ 'EMAIL' | translate }}</label>
						<input name="email" type="email" ng-model="user.email" required>
						<div ng-messages="item.form.email.$error">
							<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							<div ng-message="email">{{'INVALID_EMAIL' | translate}}</div>
						</div>
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container class="md-block" flex="100">
						<label>{{ 'NEW' | translate }} {{ 'PASSWORD' | translate }}</label>
						<input name="newPassword" type="password" ng-model="user.newPassword" md-maxlength="20" required>
						<div ng-messages="item.form.newPassword.$error">
							<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
						</div>
					</md-input-container>
				</div>
			
				<div layout="row">
					<md-input-container class="md-block" flex="100">
						<label>{{ 'CONFIRM' | translate }} {{ 'NEW' | translate }} {{ 'PASSWORD' | translate }}</label>
						<input name="confirmNewPassword" type="password" ng-model="user.confirmNewPassword" md-maxlength="20" required>
						<div ng-messages="item.form.confirmNewPassword.$error">
							<div ng-message="required">This is required.</div>
						</div>
					</md-input-container>
				</div>
				
				<div class="md-actions">
					<md-button class="md-raised md-primary" ng-click="updateItem()" ng-disabled="user.newPassword !=user.confirmNewPassword || item.form.$invalid">{{ 'CHANGE_PASSWORD' | translate }}</md-button>
					<md-button class="md-raised md-primary" ng-click="erase()">{{ 'ERASE' | translate }} {{ 'PASSWORD' | translate }}</md-button>
				</div>
				
			</md-card-content>
		</md-card>
	</form>
</div>

					
					