<md-dialog add-item-dialog flex="noshrink">
<div layout="column" layout-align="space-between strech">
	<md-toolbar class="md-table-toolbar md-default"
		ng-hide="selected.length || filter.show">
	<div class="md-toolbar-tools">
		<h2 class="md-title">{{'CANCEL_SALE_ORDER' | translate}}</h2>
		<md-button class="md-icon-button" ng-click="reLoadStuff()">
		<md-icon>refresh</md-icon> </md-button>
		<div flex></div>
	</div>
	</md-toolbar>
	<md-progress-linear md-mode="indeterminate" ng-show="showProgressBar"></md-progress-linear>
		
		
		<form name="item.form" ng-submit="ctrl.addItem()">
			<md-card class="md-whiteframe-5dp">
				<md-card-content>
				
					<div layout="row">
						<md-input-container class="md-block" flex="100">
							<md-autocomplete flex
								md-input-name="debitLedgerAccount"
								md-search-text="ctrl.searchString1"
								md-selected-item-change="onItemClick(item)"
								md-items="item in response.content | orderBy : 'id'"
								md-floating-label="{{'ORDER' | translate}} {{'ID' | translate}}"
								md-item-text="'id: '+item.id">
								<md-item-template>
									<span md-highlight-text="ctrl.searchString1">{{item.id}}</span>
								</md-item-template>
							</md-autocomplete>
						</md-input-container>
						
						<md-input-container class="md-block" flex="100">
							<label>{{ 'CANCEL_ON' | translate }}</label>
							<md-datepicker name="orderDate" ng-model="cancelOrderDate" required/>
							<div ng-messages="item.form.orderDate.$error">
								<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							</div>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block" flex="100">
							<label>{{ 'PURCHASED' | translate }}</label>
							<md-datepicker name="porderDate" ng-model="p_order.orderDate" disabled/>
							<div ng-messages="item.form.porderDate.$error">
								<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block" flex="100">
							<label>{{'SALE_LEDGER' | translate}}</label>
							<md-select placeholder="{{'PURCHASE_LEDGER' | translate}}" name="orderAccounts" ng-model="p_order.orderAccounts.id" type="text" disabled>
						  		<md-option ng-selected="party_ledger.id==1" ng-value="party_ledger.id" ng-repeat="party_ledger in partyLedger.content">{{party_ledger.accountName}}</md-option>
							</md-select>
							<div ng-messages="item.form.orderAccounts.$error">
								<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							</div>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block" flex="100">
							<label>{{ 'DELIVERY' | translate }}</label>
							<md-datepicker name="deliveryDate" ng-model="p_order.deliveryDate" required disabled/>
							<div ng-messages="item.form.deliveryDate.$error">
								<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block" flex="100">
							<label>{{'SUPPLIER_INVOICE_NUMBER' | translate}}</label>
							<input name="offlineInvoiceNumber" ng-model="p_order.offlineInvoiceNumber" required disabled>
							<div ng-messages="item.form.offlineInvoiceNumber.$error">
								<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							</div>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block" flex="100">
							<label>{{'PARTY_ACCOUNT_NAME' | translate}}</label>
							<md-select placeholder="{{'PARTY_ACCOUNT_NAME' | translate}}" name="party" ng-model="p_order.party.id" type="text" required disabled>
						  		<md-option ng-click="balanceOf(party_ledger.id)" ng-hide="party_ledger.id==1 || party_ledger.id==3" ng-value="party_ledger.id" ng-repeat="party_ledger in partyLedger.content">{{party_ledger.accountName}}</md-option>
							</md-select>
							<div ng-messages="item.form.party.$error">
								<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block" flex="100">
							<label>{{'CURRENT_ACCOUNT_BALANCE' | translate}}</label>
							<input name="currentAccountBalance" ng-value="balance" type="number" disabled>
						</md-input-container>
					</div><!-- 
					<div layout="row">
						<md-input-container class="md-block" flex="100">
							<label>{{'SALES_HANDLE_BY' | translate}}</label>
							<input name="salesHandlyBy" ng-model="p_order.salesHandlyBy" type="text">
							<div ng-messages="item.form.salesHandlyBy.$error">
								<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							</div>
						</md-input-container>
					</div> -->
					
				</md-card-content>
			</md-card>
					
					
					
			<md-card class="md-whiteframe-5dp">
				<md-card-content>
					<div layout="row">
						<md-content flex layout-padding>
							<md-table-container>
								<div style="overflow: auto; max-height: 100%;">
									<table md-table>
										<thead fix-head md-head>
											<tr md-row>
												<th class="my-data-table-desc" md-column> {{'NO' | translate}}</th>
												<th class="my-data-table-desc" md-column> {{'ITEM' | translate}}</th>
												<th class="my-data-table-desc" md-column> {{'GODOWN_AND_LOT' | translate}}</th>
												<th class="my-data-table-desc" md-column> {{'QTY' | translate}}</th>
												<th class="my-data-table-desc" md-column> {{'RATE' | translate}}</th>
												<th class="my-data-table-desc" md-column> {{'DISC' | translate}}</th>
												<th class="my-data-table-desc" md-column> {{'AMOUNT' | translate}}</th>
											</tr>
										</thead>
										
										<tbody md-body>
											<tr md-row ng-repeat="item in p_order.stockItems">
												<td class="my-data-table-desc" md-cell>
													{{$index+1}}
													<md-input-container ng-hide="true" class="md-block" flex="100">
														<md-select placeholder="{{'ITEM' | translate}}" name=productTransactionEntryType disabled ng-model="p_order.stockItems[$index].productTransactionEntryType" type="text">
													  		<md-option ng-selected="item.id==6" ng-value="item" ng-repeat="item in pteType.content">{{item.name}}</md-option>
														</md-select>
														<div ng-messages="item.form.productTransactionEntryType.$error">
															<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
														</div>
													</md-input-container>
												</td>
												<td class="my-data-table-desc" md-cell>
													<md-input-container class="md-block" flex="100">
														<md-select placeholder="{{'ITEM' | translate}}" name=stockItem ng-model="p_order.stockItems[$index].stockItem.id" disabled>
													  		<md-option ng-value="item[0].id" ng-repeat="item in Items.content">{{item[0].name}}</md-option>
														</md-select>
														<div ng-messages="item.form.stockItem.$error">
															<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
														</div>
													</md-input-container>
												</td>
												<td class="my-data-table-desc" md-cell layout="column"><!-- 
													<span ng-click="addRoom()">Click to set Godown</span>
													<span ng-click="addBatch()">Click to set Batch</span> -->
													<md-input-container class="md-block" flex="100">
														<md-select placeholder="{{'BRANCH' | translate}}" name="branches" ng-model="b" type="text" disabled>
													  		<md-option ng-value="branch" ng-selected="branch.id=p_order.stockItems[$index].room.branch.id" ng-repeat="branch in branches.content">{{branch.branchName}}</md-option>
														</md-select>
													</md-input-container>
													<md-input-container class="md-block" flex="100">
														<md-select placeholder="{{'ROOMS' | translate}}" name="rooms" ng-model="p_order.stockItems[$index].room.id" type="text" required disabled>
													  		<md-option ng-value="room.id" ng-repeat="room in rooms.content">{{room.roomName}}</md-option>
														</md-select>
														<div ng-messages="item.form.rooms.$error">
															<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
														</div>
													</md-input-container>
													<md-input-container class="md-block" flex="100">
														<md-datepicker name="mfg"  md-placeholder="MFG" ng-model="p_order.stockItems[$index].batch.mfg" required disabled/>
														<div ng-messages="item.form.mfg.$error">
															<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
														</div>
													</md-input-container>
													<md-input-container class="md-block" flex="100">
														<md-datepicker name="expDate"  md-placeholder="EXP" ng-model="p_order.stockItems[$index].batch.expDate" required disabled/>
														<div ng-messages="item.form.expDate.$error">
															<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
														</div>
													</md-input-container>
												</td>
												
												<td class="my-data-table-desc" md-cell>
													<md-input-container class="md-block" flex="100">
														<label>{{'QTY' | translate}}</label>
														<input name="quantity" ng-change="updateBill()" ng-model="p_order.stockItems[$index].quantity" ng-value="{{p_order.stockItems[$index].quantity | absolute}}" min="1" step="{{step}}" type="number" required disabled>
														<div ng-messages="item.form.quantity.$error">
															<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
														</div>
													</md-input-container>
												</td>
												<td class="my-data-table-desc" md-cell>
													<md-input-container class="md-block" flex="100">
														<label>{{'RATE' | translate}}</label>
														<input name="rate" ng-change="updateBill()" ng-model="p_order.stockItems[$index].rate" min="1" type="number" required disabled>
														<div ng-messages="item.form.rate.$error">
															<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
														</div>
													</md-input-container>
												</td>
												<td class="my-data-table-desc" md-cell>
													<md-input-container class="md-block" flex="100">
														<label>{{'DISC' | translate}}</label>
														<input name="discount" ng-change="updateBill()" ng-model="p_order.stockItems[$index].discount" min="0" max="100" ng-min="0" ng-max="100" type="number" required disabled>
														<div ng-messages="item.form.discount.$error">
															<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
														</div>
													</md-input-container>
												</td>
												<td class="my-data-table-desc" md-cell>
													<md-input-container class="md-block" flex="100">
														<label>{{'AMOUNT' | translate}}</label>
														<input name="totalAmount" ng-model="p_order.stockItems[$index].totalAmount" 
														ng-value="{{(p_order.stockItems[$index].rate*(1-p_order.stockItems[$index].discount/100))*p_order.stockItems[$index].quantity | absolute}}" min="0" type="number" step="0.01" disabled>
														<div ng-messages="item.form.totalAmount.$error">
															<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
														</div>
													</md-input-container>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</md-table-container>
						</md-content>
					</div>
				</md-card-content>
			</md-card>
		
			<md-card class="md-whiteframe-5dp">
				<md-card-content>
					<div layout="row">
						<md-content flex layout-padding>
							<md-table-container>
								<div style="overflow: auto; max-height: 100%;">
									<table md-table>
										<tbody md-body>
											<tr md-row>
												<td class="my-data-table-desc" md-cell colspan="3">{{'TOTAL' | translate}}</td>
												<td class="my-data-table-desc" md-cell colspan="2">{{totalQty}}</td>                        <!--  -->
												<td class="my-data-table-desc" md-cell>{{totalDiscount}}</td>
												<td class="my-data-table-desc" md-cell>{{totalAmount}}</td>
											</tr>
											<tr md-row>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell>{{'PREVIOUS_BALANCE' | translate}}:</td>
												<td class="my-data-table-desc" md-cell>{{balance}}</td>
											</tr>
											<tr md-row>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell>{{'SUB_TOTAL' | translate}}:</td>
												<td class="my-data-table-desc" md-cell>{{subTotal}}</td>
											</tr>
											<tr md-row>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell>{{'LESS_DISCOUNT' | translate}}</td>
												<td class="my-data-table-desc" md-cell>{{totalDiscount}}</td>
											</tr>
											<tr md-row>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell>{{'GRAND_TOTAL' | translate}}:</td>
												<td class="my-data-table-desc" md-cell>{{grandTotal}}</td>
											</tr>
											<tr md-row>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell>{{'PAID_AMOUNT' | translate}}:</td>
												<td class="my-data-table-desc" md-cell>
													<md-input-container class="md-block" flex="100">
														<input ng-change="updateBill()" name="paidAmount" ng-model="p_order.paidAmount" ng-value="paidAmount" type="number" required disabled>
														<div ng-messages="item.form.paidAmount.$error">
															<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
														</div>
													</md-input-container>
												</td>
											</tr>
											<tr md-row>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell></td>
												<td class="my-data-table-desc" md-cell>{{'DUE_AMOUNT' | translate}}:</td>
												<td class="my-data-table-desc" md-cell>{{dueAmount}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</md-table-container>
						</md-content>
					</div>
				</md-card-content>
			</md-card>

			<md-card class="md-whiteframe-5dp">
				<md-card-content>
					<div layout="row">
						<md-input-container class="md-block" flex="100">
							<label>{{ 'PAYMENT' | translate }}</label>
							<md-datepicker name="nextPaymentDate" ng-model="p_order.nextPaymentDate"/>
							<div ng-messages="item.form.nextPaymentDate.$error">
								<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							</div>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block" flex="100">
							<label>{{'NARATION' | translate}}</label>
							<textarea name="description" rows="4" ng-model="p_order.description" type="text" required></textarea>
							<div ng-messages="item.form.description.$error">
								<div ng-message="required">{{'THIS_FIELD_IS_REQUIRED' | translate}}</div>
							</div>
						</md-input-container>
					</div>
				</md-card-content>
			</md-card>
		</form>
	
	<md-button class="md-raised md-primary" ng-click="addItem()" >{{'CANCEL_SALE_ORDER' | translate}}</md-button>
	

</div>
</md-dialog>